</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form method="post">
      <div class="mb-3">
      <label>Логин</label><br>
      <input type="login" class="form-control" name="userLogin" /><br><br>
    </div>
    <div class="mb-3">
      <label>Пароль</label><br>
      <input type="password" class="form-control" name="userPass" /><br><br>
    </div>
    <input type="submit" class="btn btn-primary" value="Отправить" />
    </form>
  </body>
</html>